//@import 'styles/base/init';
//@import 'styles/base/elements/typography';
//@import 'styles/base/elements/labels';
//@import 'styles/base/elements/lists';
//
//@include font-face('Corpid-light', '../../../../public/assets/fonts/CorpidC1-Light', $file-formats: eot woff);
//@include font-face('Corpid', '../../../../public/assets/fonts/CorpidC1-Regular', $file-formats: eot woff);
//@include font-face('Corpid-bold', '../../../../public/assets/fonts/CorpidC1-Bold', $file-formats: eot woff);
//@include font-face('font-icons', '../../../../public/assets/fonts/font-icons', $file-formats: eot ttf woff svg);
//
//html,
//body {
//  tap-highlight-color: transparent;
//  @include media($small-screen) {
//    touch-callout: none;
//    user-select: none;
//  }
//}
//
//body {
//  font-family: 'Corpid';
//  color: $color-base-1;
//  font-size: 16px;
//}
//
//iframe {
//  position: absolute;
//}
