//// 4 columns grid
//$smaller-screen: new-breakpoint(max-width 650px 4);
//$small-screen: new-breakpoint(max-width 767px 4);
//// ------------------------------------------- //
//// 12 columns grid
//$medium-screen: new-breakpoint(min-width 768px 12);
//$large-screen: new-breakpoint(min-width 996px 12);