$color-base-0: lighten(#bbb, 15);
$color-base-1: #757575;
$color-base-2: #212121;
$color-base-white: #fff; //white
$color-base-black: #000;

$color-icon: #ffc106;
$color-theme: lighten(#ffbe01, 10);
$color-highlight: #FF5722;
$color-highlight-darker: #E64A19;

$color-status-red: #d61f26;
$color-status-green: #468c3c;

$color-base-background: #F9F9F9;
$color-light-background: lighten($color-base-background, 10);
$color-dark-background: darken($color-base-background, 10);
$color-section-background-transparent: rgba(255, 255, 255, 0.8);
$color-background-white: $color-base-white;

$color-box-shadow: rgba(42, 42, 42, .4);