$base-border-radius: 3px;

// z index levels
$z-index0: -1;
$z-index1: 1;
$z-index2: 10;
$z-index3: 50;
$z-index4: 100;
$z-index5: 1000; // tooltips and hover events

$prefixes: webkit moz o ms spec;

$transition-time: 0.2s;