//$visual-grid: true !default;
$grid-columns: 12;
$gutter: 0.7em;
@import '../../../../../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers';
// Overrides Neat's default
//$max-width: em(996);

// 4 columns grid
$small-screen: new-breakpoint(max-width 767px 4);
$smaller-screen: new-breakpoint(max-width 650px 4);
// ------------------------------------------- //
// 12 columns grid
$medium-screen: new-breakpoint(min-width 768px 12);
$large-screen: new-breakpoint(min-width 996px 12);

$visual-grid-color: lighten(#AADBF5, 3%);
$visual-grid-index: front !default;
