$base-line-height: 1.5rem;

$tiny-spacing: $base-line-height / 5;
$small-spacing: $base-line-height / 3;
$medium-spacing: $base-line-height - .5rem;
$base-spacing: $base-line-height;
$bigger-spacing: $base-line-height * 1.5;
$large-spacing: $base-line-height * 3;
$xlarge-spacing: $base-line-height * 5;

$tiny: 5px;
$xxlarge: $tiny * 8;

$header-height-desktop: 3.8rem;
$header-height-mobile: 3.8rem;

$footer-height-desktop: $large-spacing;
$footer-height-mobile: $base-line-height * 4;

// $full-height-desktop: calc(100vh - #{$header-height-desktop} - #{$footer-height-desktop});
// $full-height-mobile: calc(100vh - #{$header-height-mobile} - #{$footer-height-mobile});
$full-height-desktop: calc(100vh - #{$footer-height-desktop});
$full-height-mobile: calc(100vh - #{$footer-height-mobile});