%button-base-def {
  @include media($medium-screen or $large-screen) {
    font-size: 1rem;
  }
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: inherit;
  color: $color-base-white;
  border-radius: $base-border-radius;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  border: 0;
  [class^='icon-'] {
    margin-right: 0.3rem;
  }
  height: 2.6rem;
  transition: background-color $transition-time;
  &:focus {
    outline: 0;
  }
}


%button-def-inactive {
  color: $color-base-white;
  background-color: $color-base-0;

  &:active,
  &:hover {
    background-color: darken($color-base-0, 7);
  }
}

%button-def-active {
  color: $color-base-white;
  background-color: $color-highlight;

  &:active,
  &:hover {
    background-color: darken($color-highlight, 7);
  }
}

//%price-button {
//  @extend %button-base-def;
//  @include media($medium-screen or $large-screen) {
//    @include padding(1em 2em);
//  }
//  @include padding(0.8em 1rem);
//
//  padding: 1rem;
//  width: 100%;
//
//  .button-price {
//    float: right;
//  }
//  .button-label {
//    float: left;
//  }
//
//}

//.price-button {
//  @extend %price-button;
//
//  &--active {
//    @extend %price-button;
//    @extend %button-def-active;
//    .button-price {
//      color: $color-base-1;
//    }
//    .button-label {
//      color: $color-base-0;
//    }
//  }
//  &--inactive {
//    @extend %price-button;
//    @extend %button-def-inactive;
//    .button-price,
//    .button-label {
//      color: $color-inactive-btn;
//    }
//  }
//}

%action-button {
  @extend %button-base-def;
  @include media($medium-screen or $large-screen) {
    @include padding(1em 2em);
    font-size: 1rem;
    line-height: .65rem;
  }
  line-height: 1.25rem;
  @include padding(0.8em 1rem);
}

.action-button {
  &--active {
    @extend %action-button;
    @extend %button-def-active;
  }
  &--inactive {
    @extend %action-button;
    @extend %button-def-inactive;
  }
}

//.button-light {
//  @extend %button-base-def;
//  @include media($medium-screen or $large-screen) {
//    @include padding(0.8em 4.8em);
//  }
//  @include padding(0.6em 5rem);
//  @include media($large-screen) {
//    &:hover {
//      background-color: $color-highlight;
//      color: $color-base-0;
//    }
//    &:active {
//      background-color: $color-highlight-darker;
//      color: $color-base-0;
//    }
//  }
//
//  border: 2px solid $color-highlight;
//  background-color: $color-base-0;
//  color: $color-highlight;
//}
//
//.button-dark {
//  @extend %action-button;
//  background: $color-base-1;
//}
