%h1 {
  @include media($large-screen) {
    font-size: 1.9rem;
    line-height: 3.125rem;
  }
  @include media($medium-screen) {
    font-size: 1.9rem;
    line-height: 2.75rem;
  }
  font-size: 1.5rem;
  line-height: 1.9rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%h2 {
  @include media($medium-screen or $large-screen) {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $color-base-black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

%h3 {
  @include media($medium-screen or $large-screen) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  font-size: 1.0rem;
  line-height: 1.25rem;
  color: $color-base-2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  &.light-0 {
    color: $color-base-black;
  }
}

%h4 {
  font-size: 1rem;
  line-height: 1rem;
  color: $color-base-black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
