.ico:before {
	font-family: "ficons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^='ico'],
[class*='ico'] {
  font-family: 'ficons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}

.ico-alarm-clock:before {
	content: "\";
}

.ico-arrow-right:before {
	content: "\";
}

.ico-plus:before {
	content: "\";
}

.ico-close:before {
	content: "\";
}

.ico-cutlery:before {
	content: "\";
}

.ico-checked:before {
	content: "\";
}

.ico-credit-card:before {
	content: "\";
}

.ico-home:before {
	content: "\";
}

.ico-map:before {
	content: "\";
}

.ico-placeholder:before {
	content: "\";
}

.ico-shopping-cart:before {
	content: "\";
}

.ico-credit-card-2:before {
	content: "\";
}

.ico-delivery-truck-1:before {
	content: "\";
}

.ico-pizza:before {
	content: "\";
}

.ico-restaurant:before {
	content: "\";
}

