%input-select {
  background-color: $color-base-white;
  border-radius: $base-border-radius;
  height: 2.6rem;
  padding: 0 .875rem;
  outline: 0;
  border: 1px solid $color-base-0;
  color: $color-base-black;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;

  &:focus {
    background-color: $color-base-white;
    border-color: $color-theme;
  }

  &.error-field {
    border-bottom: 2px solid $color-status-red;
  }

  &.success-field {
    border-bottom: 2px solid $color-status-green;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px $color-base-white inset;
    background-color: $color-base-white;
    &:focus {
      box-shadow: 0 0 0 1000px $color-base-white inset;
    }
  }
  &::-ms-expand {
    display: none;
  }
}

input,
select,
textarea {
  @extend %input-select;
}
textarea {
  box-sizing: border-box;
  padding: .875rem .875rem;
  resize: none;
  min-height: 5rem;
}
