%label-def {
  @include media($medium-screen or $large-screen) {
    width: 10px;
    height: 10px;
    font-size: 0.875rem;
  }
  line-height: 0.7rem;
  margin-right: 0.5rem;
  position: relative;
  font-family: 'Corpid-light';
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-size: 0.875rem;

  span {
    display: inline-block;
    vertical-align: middle;
    color: $color-base-0;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
   }
}

.label {
  @extend %label-def;
  &--closed {
    background-color: $color-status-red;
  }
  &--open {
    background-color: $color-status-green;
  }
}

// .notification {
//   font-family: 'Corpid-light';
//   color: $color-status-red;
//   font-size: rem(13);
//   line-height: rem(18);
// }
