%page-full {
  min-height: $full-height-desktop;

  @include media($small-screen) {
    min-height: $full-height-mobile;
  }
}

%page-full-center {
  @extend %page-full;
  display: flex;
  align-items: center;
  justify-content: center;
}