%rest-logo {
  //box-shadow: 0 0 0 1px #d1ccc9;
  //border-radius: 2px;
  margin: 0 $base-spacing 0 0;
  display: inline-block;
  //width: 90px;
  //height: 90px;
  img {
    //width: 90px;
    //height: 90px;
  }
  @include media($small-screen) {
    //width: 60px;
    //height: 60px;
    margin: 0 $small-spacing 0 0;
    img {
      //width: 60px;
      //height: 60px;
    }
  }
}