%loader {
  transform: translateZ(0);
  @include background(linear-gradient(left, $color-base-05 10%, rgba($color-base-05, 0) 42%));
  font-size: 10px;
  margin: 10px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  position: relative;

  &:before {
    width: 50%;
    height: 50%;
    background: $color-base-05;
    border-radius: 100% 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  &:after {
    background: $color-base-0;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.loader {
  @extend %loader;
  animation: load3 1.4s 0.1s infinite linear;
}

.loader--small {
  @extend %loader;
  transform: scale(0.3);
  animation: load4 1.4s 0.1s infinite linear;
}

@include keyframes(load3) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include keyframes(load4) {
  0% {
    transform: rotate(0deg) scale(0.3);
  }
  100% {
    transform: rotate(360deg) scale(0.3);
  }
}
