$base-font-size: 1rem;

body {
  margin: 0;
}

label {
  font-size: 0.8rem;
  text-align: left;
}


.page {
  @include media($medium-screen or $large-screen) {
    padding: 0 $small-spacing;
  }
  @include outer-container;
  //@include media($small-screen) {
  //  max-width: 100%;
  //}
  //@include media($medium-screen or $large-screen) {
  //  max-width: 996px;
  //  width: 100%;
  //  margin: 0 auto;
  //}
}

%span {
  font-size:0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

p, p span {
  @include media($medium-screen or $large-screen) {
    font-size: 0.875rem;
  }
  font-size: 1rem;
  line-height: 1.25rem;
  color: $color-base-1;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;

  &.light-0 {
    color: $color-base-0;
  }
}
//
//select {
//  @include media($medium-screen or $large-screen) {
//    font-size: 0.875rem;
//  }
//  font-size: 0.8rem;
//  line-height: 1.25rem;
//}

%link-def {
  @include media($medium-screen or $large-screen) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $color-highlight-darker;
  &.underlined {
    text-decoration: underline;
  }
}
//
//%link-def-inactive {
//  @extend %link-def;
//  color: $color-base-03;
//}
//
//%link-def-light-0 {
//  @extend %link-def;
//  color: $color-base-0;
//}

a,
.link {
  @extend %link-def;
}

.error, .error span {
 @include media($medium-screen or $large-screen) {
   font-size: 0.8rem;
   line-height: 1rem;
 }
 @include margin(0 0 0.4rem 0);
 font-size: 0.821rem;
 line-height: 1.125rem;
 color: $color-status-red;
}

//
//%caption-def {
//  @include media($medium-screen or $large-screen) {
//    font-size: 0.813rem;
//    line-height: 1.125rem;
//  }
//  font-size: 0.6875rem;
//  line-height: 1rem;
//  display: block;
//  font-family: 'Corpid-light';
//}
//
//%price-def {
//  @include media($medium-screen or $large-screen) {
//    font-size: rem(15);
//    line-height: rem(20);
//  }
//  font-size: rem(13);
//  line-height: rem(20);
//  font-family: 'Roboto', sans-serif;
//  font-weight: 700;
//}
//
//%price-def-inactive {
//  @extend %link-def;
//  color: $color-base-03;
//}
//
//.price {
//  @extend %price-def;
//  &--white {
//    color: $color-base-0;
//  }
//  &.light-07 {
//    color: $color-base-07;
//  }
//}
//
//.caption {
//  @extend %caption-def;
//  &--light-07 {
//    @extend %caption-def;
//    color: $color-base-07;
//  }
//  &--light-0 {
//    @extend %caption-def;
//    color: $color-base-0;
//  }
//  &--light {
//    @extend %caption-def;
//    color: $color-base-05;
//    &-italic {
//      @extend %caption-def;
//      color: $color-base-05;
//      font-style: italic;
//    }
//    &-bold {
//      @extend %caption-def;
//      color: $color-base-05;
//      font-family: 'Corpid-bold';
//    }
//  }
//}

//.button-label {
//  @include media($medium-screen or $large-screen) {
//    font-size: 1rem;
//    line-height: 1rem;
//  }
//  font-size: 1rem;
//  line-height: 1rem;
//  font-weight: bold;
//}
//
//.button-price {
//  @include media($medium-screen or $large-screen) {
//    font-size: 1.25rem;
//  }
//  font-size: 1.5rem;
//  line-height: 1rem;
//  font-weight: bold;
//}
//
//.help-txt {
//  @include margin(1rem 0 1.5rem 0);
//  font-size: .8rem;
//  color: $color-base-05;
//}
//
//.centered {
//  text-align: center;
//}
//.uppercased {
//  text-transform: uppercase;
//}
//.highlighted {
//  color: $color-highlight-darker;
//}
//
////Memusections links
//.menu_sections {
//  a {
//    font-size: rem(13);
//    color: $color-base-1;
//  }
//}
//
//.block {
//  display: block;
//}
