@import '../../../assets/styles/base/init';

#not-found-page {

  .page{
    section {
      @extend %page-full-center;
      flex-direction: column;
      p {
        padding: $base-spacing $medium-spacing;
        text-align: center;
      }
      img {
        max-width: 700px;
        width: 80vw;
      }
    }
  }

}