@import '../../../assets/styles/base/init';

#cards {
  //background: $color-background-white;

  .page {
    @include outer-container;
  }
  border-bottom: 1px solid $color-base-0;
  padding-top: $base-spacing;
}