@import '../../../../assets/styles/base/init';

.checkout-payment {
  @include outer-container;
}

@include media($small-screen) {
  .checkout-payment {
    > span {
      @include span-columns(4 of 4);
    }
    > select {
      @include span-columns(4 of 4);
    }
    > p {
      @include span-columns(4 of 4);
    }
  }
}
@include media($medium-screen or $large-screen) {
  .checkout-payment {
    > span {
      @include span-columns(8 of 12);
      line-height: 2.6rem;
    }
    > select {
      @include span-columns(4 of 12);
      @include omega();
    }
    > p {
      @include span-columns(12 of 12);
    }
  }
}