@import '../../../assets/styles/base/init';

.restaurant {
  figure {
    @include span-columns(1 of 4);
    @extend %rest-logo;
    height: auto;
    img {
      @include span-columns(1 of 1);
      width: 100%;
      height: auto;
    }
  }
  &--offline {
    figure {
      img {
        filter: grayscale(100%);
      }
    }
  }
  article {
    padding-bottom: $small-spacing;
    @include span-columns(3 of 4);
    h1 {
      @include span-columns(3 of 3);
      @include media($medium-screen or $large-screen) {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
      font-size: 1.0rem;
      line-height: 1.25rem;
      color: $color-base-2;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      &.light-0 {
        color: $color-base-black;
      }
    }

    ul {
      clear:left;
      padding: $small-spacing 0;
      li {
        @include span-columns(3 of 3);
      }
    }
  }
}