@import '../../../../../assets/styles/base/init';

.menu-icon-section {
  transition: all $transition-time;
  padding: 0 $tiny-spacing 0 $small-spacing;
  line-height: 1.25rem;
  font-size: 0.7rem;
  &--opened {
    // transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    color: $color-base-black;
  }
}