@import '../../../../../assets/styles/base/init';

.form-textarea {
  margin: $small-spacing 0 0 0;
  span {
    display: block;
    font-size: 0.7rem;
    color: $color-base-1;
    opacity: 0;
    transition: all $transition-time;
    position: relative;
    top: 10px;
    &.active {
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
  i {
    transition: all $transition-time;
    opacity: 0;
    color: $color-status-red;
    font-size: 0.75rem;
    display: block;
    font-weight: 400;
    font-style: normal;
    height: 0;
  }
  &.error {
    // input {
    //   border-bottom: 2px solid $color-status-red;
    // }
    span {
      color: $color-status-red;
    }
    i {
      opacity: 1;
      padding-bottom: $small-spacing;
      height: auto;
    }
  }
}