@import '../../../../assets/styles/base/init';

.basket-items-empty {
  background: $color-base-white;
  display: flex;
  min-height: 14rem;
  align-items: center;
  justify-content: center;
  section {
    text-align: center;
    p {
      padding: 0 0 $base-spacing 0;
    }
  }
  .ico {
    font-size: 4rem;
  }
  @include media($small-screen) {
    height: 100vh;
  }
}