@import '../../../../assets/styles/base/init';

.basket-items-item {

  $icon-size: 25px;

  padding: $medium-spacing;
  border-bottom: 1px solid $color-base-0;
  background: $color-background-white;
  display: flex;
  flex-wrap: nowrap;

  &__quantity {
    width: 85px;
    display: flex;

    span {
      display: inline-block;
      width: 30px;
      text-align: center;
    }

    a {
      border: 2px solid $color-highlight;
      border-radius: 50%;
      display: inline-block;
      width: $icon-size;
      height: $icon-size;
      font-weight: 600;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      &:active {
        background: $color-highlight;
        color: $color-base-white;
      }
    }
  }

  &__name {
    flex-grow: 2;
    // white-space: nowrap;
    @extend %span;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    padding-left: $tiny-spacing;
    color: $color-base-black;
  }

  &__price {
    flex-grow: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


}