@import '../../../assets/styles/base/init';

.basket {
  ul {
    li {
      &:last-child {
        border: 0;
      }
    }
  }
  footer {
    border-top: 1px solid $color-base-0;
  }
}

@include media($medium-spacing or $large-screen) {
  .basket {
    border-radius: $base-border-radius;
    clear: both;
    overflow: hidden;
    box-shadow: 0 2px 4px -1px $color-box-shadow;
    header {
      color: $color-base-white;
      background: $color-theme;
      padding: $medium-spacing;
      div {
        display: none;
      }
    }
  }
}
@include media($small-screen) {
  .basket {
    display: none;
    border-radius: 0;
    &--open {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: $color-background-white;
      z-index: 500;
      flex-direction: column;
      header {
        flex-grow: 1;
        width: 100%;
        padding: $medium-spacing;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          display: inline;
          .ico {
            color: $color-base-black;
            font-size: 1.5rem;
          }
        }
      }
      ul {
        flex-grow: 99;
        overflow-y: scroll;
      }
      footer {
        flex-grow: 1;
        bottom: 0;
        width: 100%;
        background: $color-background-white;
      }
    }
  }
}