@import '../../../../assets/styles/base/init';

.menu-items-item {
  padding: $small-spacing $medium-spacing;
  min-height: 3.7rem;
  border-top: 0;
  display: flex;
  align-items: center;
  transition: background-color $transition-time;
  &:active {
    background-color: lighten($color-theme, 10);
  }

  &--price {
    text-align: right;
    &--wrapper {
      display: inline-block;
      > span {
        display: flex;
        align-items: center;
        border: 1px solid $color-theme;
        border-radius: 2px;
        padding: $tiny-spacing;
        color: $color-base-black;
        font-weight: 400;
        transition: all $transition-time;
        .ico {
          color: $color-highlight;
          padding-left: $tiny-spacing;
        }
        &:hover {
          background: $color-theme;
          .price {
            color: $color-base-white;
          }
          .ico {
            color: $color-base-white;
          }
        }
      }
      cursor: pointer;
    }
  }

  &--description {
    p, strong {
    overflow: hidden;
    text-overflow: ellipsis;
    }
  }

  @include media($medium-screen or $large-screen) {
    border-left: 1px solid $color-base-0;
    border-right: 1px solid $color-base-0;
    border-bottom: 1px solid $color-base-0;
    background: $color-base-white;
    &--description {
      @include span-columns(6 of 8);
    }
    &--price {
      text-align: right;
      @include span-columns(2 of 8);
    }
  }

  @include media($small-screen) {
    border-bottom: 1px solid $color-base-0;
    &--description {
      @include span-columns(4 of 6);
    }
    &--price {
      @include span-columns(2 of 6);
      .ico {
        display: none;
      }
    }
  }

  strong {
    @extend %h4;
  }

  @include clearfix;
}