@import '../../../../assets/styles/base/init';

.restaurants-no-service {
  @extend %page-full-center;

  div {
    @include media($large-screen or $medium-screen) {
      border-radius: $base-border-radius;
      border: 2px solid $color-base-0;
      padding: $bigger-spacing;
      background-color: $color-base-white;
      min-width: 50vw;
    }
    text-align: center;

    p {
      padding-bottom: $base-spacing;
    }
  }

}
