@import '../../../assets/styles/base/init';

#header {
  width: 100%;
  top: 0;
  background: #F9F9F9;
  top: 0;
  border-bottom: 1px solid $color-base-0;
  height: $header-height-desktop;
  line-height: $header-height-desktop;

  section {
    height: $header-height-desktop;
    @include outer-container;
    .headerLink {
      line-height: $header-height-desktop;
      display: inline-block;
      padding: 0 $tiny-spacing;
      color: $color-highlight;
      display: flex;
      align-items: center;
      @include media($small-screen) {
        text-transform: uppercase;
        justify-content: flex-start;
        font-size: 20px;
        color: #000;
        font-weight: 400;
        height: 56px;
        margin-top: 4px;
        margin-left: 4px;
        img {
          height: 58px;
        }
        > span {
          padding-left: $small-spacing;
        }
      }
      @include media($medium-screen or $large-screen) {
        font-size: 2rem;
        font-weight: 400;
        img {
          height: 58px;
        }
        > span {
            padding-left: $base-spacing;
        }
      }
    }
  }

  @include media($small-screen) {

  }

}