@import '../../../../assets/styles/base/init';

.menu-sections-item {

  header {
    h4 {
      margin: 0;
    }
  }

  @include media($medium-screen or $large-screen) {
    header {
      color: $color-base-white;
      background: $color-box-shadow;
      padding: $medium-spacing;
      .ico {
        display: none;
      }
    }
    display: none;

    &--active {
      display: block;
      header {
        background: $color-base-1;
        h4 {
          color: $color-base-white;
        }
      }
    }
  }

  @include media($small-screen) {
    border-bottom: 1px solid $color-base-0;
    header {
      transition: all $transition-time;
      background: $color-base-white;
      padding: $medium-spacing $small-spacing;
      display: flex;
      align-items: center;
      h4 {
        display: inline;
        color: $color-base-1;
      }
    }
    div.menu-sections-item-items {
      display: none;
    }
    &--active {
      border-bottom: none;
      header {
        background: $color-icon;
        color: $color-base-black;
        h4 {
          color: $color-base-black;
        }
      }
      div.menu-sections-item-items {
        display: block;
      }
    }
  }
}
/*
 * This is special case for the mobile view.
 * We will hide collapsed menu sections, which is not applicable for desktop at all
 */
@include media($small-screen) {
  .menu-sections-item.menu-sections-item--active.menu-section-items--collapsed {
    border-bottom: 1px solid $color-base-0;
    header {
      color: $color-base-1;
      background: $color-base-white;
      h4 {
        color: $color-base-1;
      }
    }
    div.menu-sections-item-items {
      display: none !important;
    }
  }
}