@import "../assets/styles/base/init";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@include font-face('ficons', '../assets/fonts/ficons', $file-formats: eot ttf woff svg);

html {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: $color-base-1;
  height: 100%;
  background-color: $color-base-background;
}

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //transition: all 0.3s ease;
}

// Goodness.
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
  display: inline-block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

:-moz-submit-invalid, :-moz-ui-invalid {
  box-shadow: none;
}

ul {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

hr {
  border-bottom: 1px dashed $color-base-0;
  border-top: 0;
}
