@import '../../../../assets/styles/base/init';

#address {
  border-bottom: 1px solid $color-base-0;
  display: flex;
  align-items: center;

  @include media($small-screen) {
    height: calc(100vh - 3.8rem);
    background: url(pm.jpg) no-repeat center center $color-base-white;
    background-size: cover;
  }
  @include media($medium-screen or $large-screen) {
    height: 40vh;
    background:
            url(pmleft.jpg) no-repeat top left,
            url(pmright.jpg) no-repeat top right,
            $color-base-white;
    background-size: auto 100%;
  }

  > div {
    margin: 0 auto;
    background-color: $color-section-background-transparent;
    @include media($medium-screen or $large-screen) {
      padding: $base-spacing;
      border-radius: $base-border-radius;
    }
    @include media($small-screen) {
      width: 100%;
      padding: $base-spacing 0;
      text-align: center;
      border-radius: 0;
    }

    h1 {
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      color: $color-base-black;
      font-size: 2.3rem;
      line-height: 2.3rem;
      padding-bottom: 1rem;
      strong {
        color: $color-highlight;
        display: block;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    form {
      position: relative;
      label {
        color: $color-base-black;
      }
      section {
        line-height: 2.6rem;
        height: 2.6rem;
        display: flex;
        position: relative;
        justify-content: center;
      }
      input {
        border-right: none;
        @include media($small-screen) {
          min-width: 10rem;
        }
        @include media($medium-screen or $large-screen) {
          min-width: 20rem;
        }
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      button {
        border-left:none;
        @include media($small-screen) {
          padding-left: 2rem;
          padding-right: 2rem;
        }
        @include media($medium-screen or $large-screen) {
          padding-left: 3rem;
          padding-right: 3rem;
        }
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

  }
}