@import '../../../../assets/styles/base/init';

li.menu-sections-selector-item {
  &.menu-sections-selector-item--active {
    background: $color-icon;
    color: $color-base-black;
  }
}

.menu-sections-selector-item {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:nth-child(8n+1),
  &:nth-child(8n+2),
  &:nth-child(8n+3),
  &:nth-child(8n+4) {
    background: $color-base-white;
  }
  padding: $tiny-spacing 0;

  span {
    @extend %span;
    user-select: none;
    text-overflow: ellipsis;
  }
}