@import '../../../../assets/styles/base/init';

.menu-sections-selector-list {
  li {
    width: 25%;
    float: left;
    overflow: hidden;
    padding-right: $tiny-spacing;
  }
  @include clearfix;

  box-shadow: 0 2px 4px -1px $color-box-shadow;
  border-radius: 2px;

  margin-bottom: $base-spacing;

  @include media($small-screen) {
    display: none;
  }
}