@import '../../../assets/styles/base/init';

#checkout-page {

  @extend %page-full;

  @include media($medium-screen or $large-screen) {
    @include direction-context(right-to-left) {
      .page > section {
        @include span-columns(8);
        padding: $medium-spacing 0;
      }
      .page > aside {
        @include span-columns(4);
        padding: $medium-spacing 0;
      }
    }
  }
  @include media($small-screen) {
    .page > section {
      @include span-columns(4);
      padding: $small-spacing;
    }
    .page > aside {
      @include span-columns(4);
      padding: $small-spacing;
      border-bottom: 1px solid $color-base-0;
    }
  }

}