@import '../../../../assets/styles/base/init';

#footer {
  background: $color-base-2;
  color: $color-base-0;
  @include media($medium-screen or $large-screen) {
    line-height: $footer-height-desktop;
    height: $footer-height-desktop;
  }
  @include media($small-screen) {
    line-height: $base-line-height * 2;
    height: $footer-height-mobile;
  }
  ul {
    @include media($medium-screen or $large-screen) {
      display: block;
      float: left;
      padding-left: $base-spacing;
    }
    @include media($small-screen) {
      text-align: center;
    }
    li {
      display: inline-block;
      a {
        @include media($medium-screen or $large-screen) {
          padding-right: $base-spacing;
        }
        @include media($small-screen) {
          padding: 0 ($base-spacing / 2);
        }
        color: $color-base-white;
      }
    }
  }
  .footer-data {
    @include media($small-screen) {
      clear: both;
      text-align: center;
    }
    @include media($medium-screen or $large-screen) {
      align-self: center;
      text-align: right;
      padding-right: $base-spacing;
    }
  }
}