@import '../../../../assets/styles/base/init';

.submit-status {
  padding: $small-spacing;
  margin: $medium-spacing 0;
  text-align: center;
  &.submitted {
    color: $color-base-white;
    background: #4ac97d;
  }
}
