@import '../../../../assets/styles/base/init';

.submit-order {

  h2 {
    strong {
      font-weight: 400;
      white-space: nowrap;
    }
    text-align: center;
  }

  @include media($medium-screen or $large-screen) {
    & > section {
      @include span-columns(8);
      padding: $medium-spacing 0;
    }
    & > aside {
      @include span-columns(4);
      padding: $medium-spacing 0;
    }
  }
  @include media($small-screen) {
    h2 {
      padding: 0 $small-spacing;
    }
    & > section {
      padding: $small-spacing;
      @include span-columns(4);
    }
    & > aside {
      @include span-columns(4);
      padding: $small-spacing;
      border-bottom: 1px solid $color-base-0;
    }
  }

}