@import '../../../assets/styles/base/init';

#home-page {
  .home-page-text {
    section {
      @include span-columns(6);
      @include media($small-screen) {
        @include span-columns(4);
      }
      padding: $small-spacing $base-spacing $base-spacing $base-spacing;
      p {
        text-align: justify;
      }
    }
  }
}