@import '../../../../assets/styles/base/init';

.checkout-customer {
  div {
    display: flex;
    flex-wrap: wrap;
    @include media($medium-screen or $large-screen) {
      flex-direction: row;
    }
    @include media($small-screen) {
      flex-direction: column;
    }

    section {
      @include media($medium-screen or $large-screen) {
        flex-basis: 100%;
        &:nth-child(2) {
          padding-right: $small-spacing;
          flex-basis: 50%;
        }
        &:nth-child(3) {
          flex-basis: 50%;
        }
        &:nth-child(4) {
          padding-right: $small-spacing;
          flex-basis: 70%;
        }
        &:nth-child(5) {
          flex-basis: 30%;
        }
      }
      @include media($small-screen) {
        flex-basis: 100%;
      }
    }
  }
}
