@import '../../../../assets/styles/base/init';

.card {
  @include span-columns(3);
  @include media($small-screen) {
    @include span-columns(4);
    padding: 0 $base-spacing;
  }
  text-align: center;

  .card-header {
    font-weight: 700;
    line-height: 1.5em;
    padding: ($base-spacing / 5) ($base-spacing / 4);
    color: $color-base-black;
    white-space: nowrap;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 4) ($base-spacing / 4);
    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }
}
