@import '../../../../assets/styles/base/init';

.paper {
  border-radius: $base-border-radius;
  clear: both;
  overflow: hidden;
  box-shadow: 0 2px 4px -1px $color-box-shadow;
  background: $color-background-white;
  margin-bottom: $small-spacing;
  article {
    @include media($medium-screen or $large-screen) {
      padding: $medium-spacing
    }
    @include media($small-screen) {
      padding: $small-spacing;
    }
  }
  header {
    @include media($medium-screen or $large-screen) {
      padding: $medium-spacing
    }
    @include media($small-screen) {
      padding: $small-spacing;
    }
    border-bottom: 1px solid $color-base-0;
    h4 {
      margin: 0;
      padding: 0;
    }
  }
}