@import '../../../../assets/styles/base/init';

.restaurants-list {
  @extend %page-full;
  padding-top: $small-spacing;
  > p {
    padding: 0 0 $medium-spacing 0;
    span {
      color: $color-base-2;
    }
  }
  @include media($small-screen) {
    > p {
      padding: 0 $small-spacing $small-spacing $small-spacing;
      span {
        font-size: 0.8rem;
      }
    }
  }
}