.{{ cssClass }}:before {
	font-family: "{{ fontName }}";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^='{{ cssClass }}'],
[class*='{{ cssClass }}'] {
  font-family: '{{ fontName }}';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
}
{% for glyph in glyphs %}
.{{ cssClass }}-{{ glyph.name }}:before {
	content: "\{{ glyph.unicode[0] }}";
}
{% endfor %}
