@import '../../../../assets/styles/base/init';

@include media($medium-screen or $large-screen) {
  display: none;
}

@include media($small-screen) {
  .basket-sticky {
    background: $color-highlight;
    color: $color-base-white;
    padding: $small-spacing;
    max-height: 50px;
    @include clearfix;

    &--count {
      color: $color-highlight;
      background: $color-base-white;
      width: 30px;
      height: 30px;
      padding: 4px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      font-size: 1rem;
      letter-spacing: -1px;
      float: left;
    }

    strong {
      line-height: 30px;
      display: flex;
      align-items: center;
      float: right;
      font-weight: 400;
    }
  }
}