@import '../../../../assets/styles/base/init';

.restaurant-item {
  display: block;
  cursor: pointer;
  background-color: $color-background-white;
  &:hover {
    background-color: $color-base-background;
  }
  border: 1px solid $color-base-0;

  @include media($medium-screen or $large-screen) {
    margin-bottom: $small-spacing;
    box-shadow: 0 6px 17px -3px $color-base-0;
  }

  article {
    margin: $medium-spacing;
    display: flex;
    justify-content: flex-start;
  }

  .restaurant-item-arrow-link {
    font-size: 1.6rem;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i {
      &:hover {
        color: $color-base-black;
      }
    }
  }

  figure {
    @extend %rest-logo;
  }

  header {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    h3 {
      margin: 0;
    }
    span {
      padding: $tiny-spacing 0;
    }
    address {
      font-style: normal;
      padding: $tiny-spacing 0;
    }
  }

  summary {
    padding: 0 $medium-spacing;
    background-color: $color-base-background;
    ul {
      display: flex;
      justify-content: flex-start;
      li {
        white-space: nowrap;
        padding-right: $base-spacing;
      }
    }
  }

  /**
   * Small screen
   */
  @include media($small-screen) {
    border: none;
    border-top: 1px solid $color-base-0;
    &:last-child {
     border-bottom: 1px solid $color-base-0;
    }

    header {
      address {
        display: none;
      }
    }

    article {
      margin: $small-spacing;
    }

    summary {
      padding: 0 $small-spacing;
      ul {
        li {
          .ui-property {
            flex-direction: column;
            align-items: center;
          }
          .ui-property-children * {
            font-size: 0.7rem;
          }
          display: block;
          padding: $tiny-spacing $tiny-spacing $tiny-spacing 0;
          text-align: center;
        }
      }
    }
  }

  &--offline {
    opacity: 0.5;
    figure {
      img {
        filter: grayscale(100%);
      }
    }
  }

}

