@import '../../../../assets/styles/base/init';

.checkout-button {
  @include media($small-screen) {
    button {
      width: 100%;
    }
  }
  @include media($medium-screen or $large-screen) {
    text-align: center;
    margin: $base-spacing 0;
    button {
      width: 75%;
    }
  }
}