@import '../../../../../assets/styles/base/init';

.ui-property {
  padding: $small-spacing 0;
  font-size: 0.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .ui-property-children * {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
}
