@import '../../../../assets/styles/base/init';

.basket-checkout-button {
  button {
    width: 100%;
    border-radius: 0;
  }
}
.action-button {
  @include media($small-screen) {
    &--desktop {
      display: none;
    }
    &--mobile {
      display: block;
    }
  }
  @include media($medium-screen or $large-screen) {
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
}