@import '../../../assets/styles/base/init';

.checkout {
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    legend {
      @extend %h2;
    }
  }
  input, textarea {
    width: 100%;
  }
}