@import '../../../../assets/styles/base/init';

#address-search-results {

  position: absolute;
  border-top: none;
  width: 100%;
  top: 2.6rem;
  left: 0;
  background: $color-base-white;
  z-index: 100;
  box-shadow: 0 2px 6px -1px $color-box-shadow;

  li {
    border-bottom: 1px solid $color-base-0;
    cursor: pointer;

    &:hover {
      background-color: $color-dark-background;
    }

    span {
      padding: 0 .875rem;
      color: $color-base-black;
      font-family: 'Roboto', sans-serif;
      font-size: 0.8rem;
      line-height: $bigger-spacing;
      display: block;
    }
  }

  @include media($small-screen) {

  }
  @include media($medium-screen or $large-screen) {

  }
}