@import '../../../../assets/styles/base/init';

.restaurants-ico {
  font-size: 1.4rem;
  color: $color-base-1;
  padding: 0 $small-spacing 0 0;

  @include media($small-screen) {
    font-size: 1.1rem;
    padding: 0 0 $tiny-spacing 0;
    display: block;
  }
}