@import '../../../../assets/styles/base/init';

.submit-basket {
  border-radius: $base-border-radius;
  clear: both;
  overflow: hidden;
  box-shadow: 0 2px 4px -1px $color-box-shadow;
  header {
    background: $color-background-white;
    border-bottom: 1px solid $color-base-0;
    border-top: 1px solid $color-base-0;
    padding: $medium-spacing;
    div {
      display: none;
    }
  }
  ul {
    li {
      &:last-child {
        border: 0;
      }
    }
  }
  footer {
    border-top: 1px solid $color-base-0;
  }
}
