@import '../../../../assets/styles/base/init';

.submit-basket-sum {
  dl {
    padding: $medium-spacing;
    border-bottom: 1px solid $color-base-0;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
  }
  p {
    padding: $medium-spacing;
  }
}